//importacion de archivos secundarios

//utilidades
@import "utilidades/extend";
@import "utilidades/mixin";
@import "utilidades/variables";

//pages
@import "pages/quienes-somos";
@import"pages/contacto";
@import "pages/recetas";
@import "pages/receta_unica";
@import "pages/inicio";

/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/* Estilos NAVBAR*/

header{
        background-color: $color-principal;
        text-transform: uppercase;

        nav{
            ul{
                list-style: none;
                display: flex;
                gap: 60px;
                background: none;
                border-color: none;
                text-decoration: none;
                li{
                    display: flex;
                    align-items: flex-end;
                    background-color: #cc373c;
                    padding: 5px;
                    border-radius: 15px;
                    border-color: none;
                    text-decoration: none;
                    
                    .nav-link{
                        color: $color-header-tipografia;
                    
                   }
                   
                }
                li{
                    margin: 5px;
                    background-color: none;
                    border-color: none;
                    
                        .dropdown-menu{
                            background-color: none;
                            margin: 10px;
                            border-color: none;
                            text-decoration: none;
                            color: $color-header-tipografia;

                            .dropdown-item{
                                background-color: #ff7d81;
                                border-radius: 10px;
                                border-color: none;
                                text-decoration: none;
                            }
                        }
                    }
                
            }
        }

    }

   /*Estilos footer*/
   
   footer{
    margin-top: 300px;
    padding: 50px;
    color: white;
    background-color: $color-principal;
   }
